
body {
    margin: 0;
    padding: 0;
}


#wrapper {
  display: grid;
  height: 100vh;
  grid-gap: 0;
  grid-template-columns: auto;
  grid-template-rows: auto 4em;
  grid-template-areas:
    "content"
    "navigation";
  background-color: #eaeaea;
}

#navigation {
  grid-area: navigation;
  background-color: #ffffff;
  padding-top: 0.8em;
  background-color: #333;
  color: #fff;
}

nav, .nav-ul, .nav-form {
  margin: 0;
  padding: 0;
}

.navli {
  display: inline-block;
  padding-left: 0.3em;
  padding-right: 1em;
  text-shadow: 0 0 0.2em #aaa;
}

.navli a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6em;
}

.link-txt {
  display: none;
}

#content {
  grid-area: content;
  overflow: scroll;
}

.post-body {
  padding: 0.5em;
  background-color: #fefefe;
}

#footer {
  padding: 0.5rem;
  padding-top: 1.6rem;
  padding-bottom: 5rem;
  background-color: #eaeaea;
  display: none;
}

audio {
  width: 100%;
  max-width: ( 100%  );
  border: 0.5rem solid #fff;
  background-color: #fff;
  filter: drop-shadow( 0.2rem 0.2rem 0.2rem #ccc );
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0.5rem solid #fff;
  background-color: #fff;
  filter: drop-shadow( 0.2rem 0.2rem 0.2rem #ccc );
}

.frame-text-name {
  width: 100%;
}

.frame {
  background-color: #fafafa;
  margin: 0.5rem 0;
}

.frame-timestamp {
  text-align: right;
}

.control-label {
    display: block;
}

.form-control {
    display: inline;
}

.formli {
  display: inline-block;
  margin: 0 2em;
}

.form-submit {
  display:  block;
  margin-left: 4em;
  margin-top: 1.6em;
}

@media only screen and (min-width: 600px) {
  #wrapper {
  grid-template-columns: auto;
  grid-template-rows: 3.5em auto;
    grid-template-areas:
      "navigation"
      "content"
  }

  .navli a {
    font-size: 1.2em;
  }

  .link-txt {
    display: inline-block;
    margin-left: 0.2em;
  }

  #footer {
    display: block;
  }

}


@media only screen and (min-width: 1200px) {
  .post-body {
    max-width: calc( 1200px );
  }

}

/* transitions */

.transition-save {
  transition: all .5s;
}

.transition-save.ic-transitioning {
  opacity: 70;
  background-color: beige;
}

.frame {
    padding: 1em 1em 1em 1em;
}

.frame-text-name {
  font-size: 1.4em;
}

.frame-timestamp {
  font-size: 0.8em;
  padding-top: 1em;
}