:root {
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'NotoSansDisplay-Regular', 'NotoSansDisplay', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FCF8F3;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto;
  grid-template-rows: auto 4em;
  grid-template-areas:
    "content"
    "nav";
}

.nav {
  grid-area: nav;
  background-color: #28405D;
}

.content {
  grid-area: content;
  overflow: scroll;
}

.footer {
  display: none;
}

.nav ul {
  margin: 1.1rem 0.4rem;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin: 0 0.2rem;
}

.nav a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.content {
  padding: 0 0.5rem;
  width: calc ( 100vw - 1rem );
  overflow-x:hidden;
}

.frame {
  border-bottom: 1px dashed #9AB3BF;
  padding: 1rem 0;
  max-width: 64rem;
  margin: 0 auto;
}

video, img, p.frame-text {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 2rem;
  border: 0.5rem solid #fff;
  background-color: #fff;
  filter: drop-shadow( 0.2rem 0.2rem 0.2rem #ccc );
}

.audio {
  height: 50px;
  min-height: 50px;
}

.frame-text {
  padding: 1rem;
}

.frame-timestamp {
  text-align: right;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.frame-timestamp a {
  color: gray;
  text-decoration: none;
}

@media only screen and (min-width: 300px) {
  @font-face {
    font-family: 'NotoSansDisplay-Regular';
    src: url( /static/font/notosansdisplay-regular-webfont.woff2 ) format('woff2'),
         url( /static/font/notosansdisplay-regular-webfont.woff ) format('woff');
    font-weight: normal;
    font-style: normal;
  }
}

@media only screen and (min-width: 1200px) {
}