<div class="frame frame-default">
    {% with data = frame.jdata %}
    {% if data.text %}
    <p class="frame-text-name">{{data.text}}</p>
    {% elif data.media_url %}
        {% with url = data.media_url %}
            {% if url.endswith('.jpg') or url.endswith('.png') or url.endswith('.webp') %}
            <img src="/{{data.media_url}}" width="100%" />
            {% elif url.endswith('.oga') %}
            <audio controls preload="none">
            <source src="/{{url}}" type="audio/ogg" />
            </audio>
            {% elif url.endswith('.mp4') %}
            <video height="400" max-width="100%" controls="controls">
            <source src="/{{url}}" type="video/mp4">
            </video>
            {% else %}
            {{data}}
            {% endif %}
        {% endwith %}
    {% else %}
    {{data}}
    {% endif %}
    {% if frame.tags %}
    <div>tags: {{frame.tags}}</div>
    {% endif %}
    <div class="frame-timestamp">
        <a href="{{url_for('frame_detail', uuid=frame.uuid)}}">
            {{ frame.timestamp|humanize }}</a>
    </div>
    {% endwith %}
</div>
