<div class="frame frame-default">
    {% with data = frame.jdata %}
    {% if data.text %}
    <p class="frame-text-name">{{data.text}}</p>
    {% elif data.media_url %}
    {% with url = data.media_url %}
    {% if url.endswith('.jpg') or url.endswith('.png') or url.endswith('.webp') %}
    <picture>
        <source media="(min-width: 900px)"
                srcset="/{{url}}">
        <source media="(min-width: 600px)"
                srcset="/resize/900/{{url}}">
        <source media="(min-width: 300px)"
                srcset="/resize/600/{{url}}">
        <img src="/resize/300/{{url}}" width="100%"/>
    </picture>
    {% elif url.endswith('.oga') %}
    <audio controls preload="metadata">
        <source src="/{{url}}" type="audio/ogg"/>
    </audio>
    {% elif url.endswith('.mp4') %}
    <video height="400" max-width="100%" controls="controls">
        <source src="/{{url}}" type="video/mp4">
    </video>
    {% else %}
    {{data}}
    {% endif %}
    {% endwith %}
    {% else %}
    {{data}}
    {% endif %}
    {% if frame.tags %}
    <div>tags: {{frame.tags}}</div>
    {% endif %}
    <div class="frame-timestamp">
        <a href="{{url_for('frame_detail', uuid=frame.uuid)}}">
            {{ frame.timestamp|humanize }}</a>
    </div>
    {% endwith %}
</div>
