<div class="frame frame-default">
  @ with data = frame.jdata
  @ if data.text
    <div class="frame-text">{{data.text|telegram_markdown|safe}}</div>
  @ elif data.media_url
    @ with url = data.media_url
    @ if url.endswith('.jpg') or url.endswith('.png') or url.endswith('.webp')
      <picture>
        <source media="(min-width: 1600px)"
                srcset="{{url}}">
        <source media="(min-width: 1200px)"
                srcset="/resize/1200/{{url}}">
        <source media="(min-width: 1000px)"
                srcset="/resize/1000/{{url}}">
        <source media="(min-width: 700px)"
                srcset="/resize/700/{{url}}">
        <source media="(min-width: 500px)"
                srcset="/resize/500/{{url}}">
        <source media="(min-width: 400px)"
                srcset="/resize/400/{{url}}">
        <source media="(min-width: 300px)"
                srcset="/resize/300/{{url}}">
        <img src="/resize/240/{{url}}" width="100%" alt="" class="frame-image"/>
      </picture>
    @ elif url.endswith('.oga')
      <video playsinline controls="controls" preload="metadata" class="audio">
        <source src="/{{url}}" type="audio/ogg">
      </video>
    @ elif url.endswith('.mp4')
      <video playsinline controls="controls" preload="metadata">
        <source src="/{{url}}" type="video/mp4">
      </video>
    @ else
     {{data}}
    @ endif
    @ endwith
  @ else
    {{data}}
  @ endif

  @ if data.caption
    <p class="frame-caption">{{data.caption}}</p>
  @ endif

  @ if frame.tags
    <div>tags: {{frame.tags}}</div>
  @ endif
  <div class="frame-timestamp">
    <a href="{{url_for('frame_detail', uuid=frame.uuid)}}">
      {{ frame.timestamp|humanize }}</a>
  </div>
  @ endwith
</div>
